<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Online Distortion</title>
    <meta name="description" content="">
    <%= require('html-loader!./partials/head.html') %>
  </head>

  <body>
    <%= require('html-loader!./partials/browserupgrade.html') %>

    <div class="d-flex flex-column h-100">
      <%= require('html-loader!./partials/header.html') %>

      <main class="d-flex h-100 align-items-center">
        <div class="container">
          <h1>Online Distortion</h1>

          <div class="hstack gap-3">
            <button class="btn btn-primary btn-play">Play</button>
            <button class="btn btn-primary btn-stop">Stop</button>
          </div>

          <div class="d-flex align-items-center mb-4 mt-4 effect effect--gain">
            <h5 class="effect--title mb-0 mr-2">GAIN:</h5>
            <input class="effect--control effect--control-gain mr-2" type="range" min="0" max="1" step="0.01">
            <div class="effect--value">0</div>
          </div>

          <div class="d-flex align-items-center mb-4 effect effect--panner">
            <h5 class="effect--title mb-0 mr-2">PANNER:</h5>
            <input class="effect--control effect--control-panner mr-2" type="range" min="-1" max="1" step="0.01">
            <div class="effect--value">0</div>
          </div>

          <div class="effect effect--bqfilter">
            <h3 class="effect--title">BQ FILTER:</h3>
            <div>
              <div class="effect--sub effect--bqfilter-lowpass mb-4">
                <h4 class="effect--title mb-2">LOWPASS</h4>
                <div class="effect--control-container effect--control-container-bqfilter-frequency d-flex mb-2">
                  <h5 class="effect--title mb-0 mr-2">frequency:</h5>
                  <input class="effect--control effect--control-bqfilter-frequency mr-2" type="range" min="0" max="20000"
                    step="1">
                  <div class="effect--value">0</div>
                </div>

                <div class="effect--control-container effect--control-container-bqfilter-q d-flex mb-2">
                  <h5 class="effect--title mb-0 mr-2">Q:</h5>
                  <input class="effect--control effect--control-bqfilter-q mr-2" type="range" min="0.0001" max="1000"
                    step="0.0001">
                  <div class="effect--value">0</div>
                </div>

                <div class="effect--control-container effect--control-container-bqfilter-gain d-flex">
                  <h5 class="effect--title mb-0 mr-2">gain:</h5>
                  <input class="effect--control effect--control-bqfilter-gain mr-2" type="range" min="-40" max="40"
                    step="1">
                  <div class="effect--value">0</div>
                </div>
              </div>

              <div class="effect--sub effect--bqfilter-highpass">
                <h4 class="effect--title mb-2">HIGHPASS</h4>
                <div class="effect--control-container effect--control-container-bqfilter-frequency d-flex mb-2">
                  <h5 class="effect--title mb-0 mr-2">frequency:</h5>
                  <input class="effect--control effect--control-bqfilter-frequency mr-2" type="range" min="0" max="20000"
                    step="1">
                  <div class="effect--value">0</div>
                </div>

                <div class="effect--control-container effect--control-container-bqfilter-q d-flex mb-2">
                  <h5 class="effect--title mb-0 mr-2">Q:</h5>
                  <input class="effect--control effect--control-bqfilter-q mr-2" type="range" min="0.0001" max="1000"
                    step="0.0001">
                  <div class="effect--value">0</div>
                </div>

                <div class="effect--control-container effect--control-container-bqfilter-gain d-flex">
                  <h5 class="effect--title mb-0 mr-2">gain:</h5>
                  <input class="effect--control effect--control-bqfilter-gain mr-2" type="range" min="-40" max="40"
                    step="1">
                  <div class="effect--value">0</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <%= require('html-loader!./partials/footer.html') %>
    </div>
  </body>
</html>
